# Virtual environment
backend/venv/

# Python caches
**/__pycache__/
*.pyc

# Configuration/Secrets
backend/.env

# SQLite Database
*.db

# Large Assets
*.pdf
!basic_finance_knowledge.pdf
*.jpeg
*.jpg
